
.footer {
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: lightgrey 1px solid;
    display: block;
    bottom: 0;
    width: 770px;
    color: dimgrey;
    text-align: center;
    height: 10vh;
}

