.post-list {
    border-bottom: lightgrey 1px solid;
    padding: 40px 0;
    width: 100%;
    color: black;
}

.post-list:last-child {
    border: none;
}

.post-list-container {
    padding: 0;
    width: 100%;
    margin: 50px 0;
    list-style: none;
}

#post-list-title {
    cursor: pointer;
}
.post-list-title {

    font-size: 20px;
    color: #1a1a1a;
}

.post-list-subtitle {
    color: dimgrey;
}

#post-list-autor {
    font-size: 16px;
    padding: 4px 0;
    margin: 0;
}
#post-list-date {
    font-size: 13px;
}
.main {
    width: 100%;
    align-items: start;
}

dl {
    margin-bottom: 5px;
}