body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

ul {
    padding: 0;
    margin: 50px 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 50%;
}

.nav {
    width: 100%;
    color: black;
    border-bottom: lightgrey 1px solid;
    padding-top: 50px;
    padding-bottom: 20px;
}
.nav-icon {
    margin-left: 10px;
    font-size: 30px;
    float: right;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}
.nav h2 {
    display: inline-block;
}

.post-container {
    font-size: 16px;
    color: black;
}
.post-list {
    border-bottom: lightgrey 1px solid;
    padding: 50px 0;
    width: 100%;
    font-size: 16px;
    color: black;
}
.post-list-footer {

}

.post-list-head h3{
    font-size: large;
    color: black;
}

/*.footer {*/
    /*position: absolute;*/
    /*left: auto;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*font-size: 16px;*/
    /*color: black;*/
    /*padding-bottom: 50px;*/
/*}*/
