#post-input-title {
    display: block;
    width: 100%;

}

textarea {
    resize: none
}

#post-input-subtitle {
    display: block;
    width: 100%;
}
#post-input-content {
    display: block;
    width: 100%;
    height: 50vh;

}

.post-input-group {
    width: 100%;
    margin: 50px 0;
}


.post-input {
    margin-bottom: 15px;
}

.post-input-btn {
    background: dimgrey;
    border: none;
    padding: 10px 50px;
}